<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="GetAPIUrl" value="http://localhost:54553/api/message/getmessage/"/>
    <add key="DefaultURL" value="http://localhost:54553/api/message/getdefault"/>
    <add key="MessageId" value="2"/>
    <add key="HasDBAccess" value="true"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>